@{
    ViewData["Title"] = "Home Page";
}

<div > 
    
    <div id="root"></div>

</div> 
<script src="~/ckeditor/ckeditor.js"></script>

<script src="~/assets/index.js"></script>
<link rel="stylesheet" href="~/assets/index.css">


